@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,500&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(7, 7, 7), rgb(12, 12, 12)); /* Removed bg image */
    font-size: 12px;
    overflow: hidden;
    font-family: "Inter", serif;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainDiv {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loveHeart {
    width: 45%;
    max-width: 600px;
    height: auto;
    position: relative;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#code {
    width: 45%;
    max-width: 480px;
    height: auto;
    font-size: 14px;
    color: #d8d8d8;
    font-family: "Consolas", "Monaco", "Courier New", sans-serif;
    text-align: left;
    overflow-x: auto;
}

#words {
    font-size: 20px;
    max-width: 500px;
    color: #f5a0a0;
}

#loveu {
    font-size: 18px;
    text-align: center;
    display: none;
    position: relative;
    top: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
    #mainDiv {
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
    }
    #loveHeart, #code {
        width: 90%;
        max-width: none;
    }
    #words {
        font-size: 18px;
    }
}
